<h1>Beer Inventory</h1>

<ul>
  <% @beers.each do |beer| %>
  <li> <%= link_to "#{beer.name}", beer_path(beer) %> - <%= "#{beer.inventory} Cases" %> </li>
  <% end %>
</ul>

<%= button_to 'Add New Beer', new_beer_path, method: 'get' %>