<%= link_to 'Return to List of Beers', beers_path %>

<h1> <%= @beer.name %> </h1>

<%= "Cases in inventory - #{@beer.inventory}" %>

<br><br><%= button_to 'Edit Beer', edit_beer_path(@beer), method: 'get' %>